/* body {
    background: linear-gradient(120deg,#F8C471 ,#1D2B64 );
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

body {
    background: linear-gradient(to bottom, #f7f7f7, #e0e0e0) !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding-bottom: 50px;
}

.container {
    margin: 70px;
}



#bible-quote {
    padding: 10px;
    font-family: "sinter", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}


.form-container {
    background-color: #835a5a;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-title {
    margin-bottom: 1rem;
    text-align: center;
    color: #1D2B64;
}

/* .btn-custom {
    background-color: #1D2B64;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #F8C471;
    color: #fff;
} */

#the {
    background-color: #1D2B64;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

#the:hover{
    background-color: #F8C471;
    color: #fff;
}



#back-button {

    padding: 0.75rem 1.5rem;
    background-color: #007bff; /* Primary blue color */
    color: #ffffff; /* White text */
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 50px; /* Rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 15px;


    
}

#back-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
    text-decoration: none; /* Ensures no underline on hover */
}

#back-button:active {
    background-color: #004494; /* Even darker blue when clicked */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow */
    transform: translateY(2px); /* Small shift down on click for a pressed effect */
}
