#dashboard-pg {
    background-color: rgb(104, 104, 139);
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dash-board-title{
    background-color: rgb(88, 88, 124);
    padding: 2rem;
    border-radius: 25px;
}

#lists-dashboard {
    display: flex;
}