#full-topic-page {
    color: white;
    background-color: #101a39;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3rem;

    font-family: "sinter", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 5rem;
}

#middle-topic-container {
    display: flex;
    background-color: #17244a;
    border: 2px solid #034078;
    border-radius: 8px;
    padding: 2.5rem;
    gap: 5rem;
    margin-bottom: 3rem;
    max-width: 75%;
}

#right-topic-div h5{
    padding: 1rem;
    border-radius: 8px;
    background-color: #22305a;
    font-size: 1rem;
}

/* Progress Indicator Styling */
.progress-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .circle {
    width: 14px;
    height: 14px;
    border: 0.5px solid black;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  .filled {
    background-color: #165897;
    /* background-color: #3498db;  */
  }

@media (max-width: 600px) {

    #full-topic-page{
        padding: 1rem;
    }

    #middle-topic-container{
        display: block;
        min-width: 100%;
    }

    #current-video-on-topic-playlist{
        width: 100%;
        height: auto;
    }

    #upload-text-for-vid {
        display: none;
    }
}

#current-video-on-topic-playlist{
    border: 3px ridge #034078;
}

.player-buttons-for-topic {
    background-color: #0d1631;
    border: 1px solid #508CA4;
    border-radius: 25px;
    margin: 0.5rem;
    padding: 0.25rem 1.5rem;
    box-shadow: 1px 1px 1px #A9D6E5;
    color: white;
    font-size: 1.25rem;
}

.player-buttons-for-topic:hover{
    background-color: #213161;
}

#t-id-h1{
    color: #A9D6E5;
}

#sub-title-for-curr-id{
    color: #A9D6E5;
}

#description-header-h5{
    color: #A9D6E5;
}

#upload-text-for-vid{
    font-size: 0.8rem;
}

